*{
	margin: 0;
	padding: 0;
	border-sizing: border-box;
}

.navbar{
	font-family: 'Montserrat', sans-serif;
}
.navbar-custom{
	background-color:#4C5760;
}

#bg{
	font-family: 'Roboto Slab', serif;
	background-image: url(https://images.pexels.com/photos/4946529/pexels-photo-4946529.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	background-repeat: no-repeat ;
	background-attachment: fixed;
	background-color: #D7CEB2;
	background-size: cover;
	color: #052036;
}
footer{
	font-family: 'Montserrat', sans-serif;
	background-color:#4C5760
}

#greet{
	font-weight: bold;
	font-family: 'League Spartan', sans-serif;
	color: #04878E;
}
div>.rounded-circle{
	outline-offset:0px ;
	outline:5px solid #04878E ;
}
.container{
	padding-right: 0px;
    padding-left: 0px;
}
.container-fluid{
	padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.row{
	border: 0px;
	max-width: 95%;
	margin-right: auto;
    margin-left: auto;
}
div h3{
	color: #045E8E;
}
h3{
	padding-top: 0.75rem;
}

/*Skills.html*/
#skills{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
#skills .row{
	margin-left: auto;
	margin-right: auto;
}
.row .card{
	border: 0px;
	
}
/*ok*/
@media (max-width: 768px){
	.card-img img{
		max-height: 400px;
		}

	.row .card{
		max-width: 80%;
	}
}

hr{

	width: 80%;
	margin: auto;
}

.carousel-item img{
	border-radius: 75px;
}

